# Manipulation et analyse de données
pandas
numpy

# Visualisation
matplotlib
seaborn
plotly

# Machine Learning (segmentation, prédiction)
scikit-learn
xgboost
joblib

# Dashboard interactif
streamlit

# Lecture/écriture de fichiers
openpyxl

#ipykernel
ipykernel